/ch1/projection/nbproject/private/
/ch1/projection/build/
/ch2/invest/nbproject/private/
/ch3/financials/nbproject/private/
/ch4/payroll/nbproject/private/
/ch4/payroll/build/
/ch3/financials/build/
/ch5/ASCII/nbproject/private/
/ch5/ascii/dist/
/ch5/ascii/build/
/ch4/payroll/dist/
/ch6/TaxTable/nbproject/private/
