*.zip

/ch1/projection/nbproject/private/
/ch1/projection/build/
/ch2/invest/nbproject/private/
/ch3/financials/nbproject/private/
/ch4/payroll/nbproject/private/
/ch4/payroll/build/
/ch3/financials/build/
/ch5/ASCII/nbproject/private/
/ch5/ascii/dist/
/ch5/ascii/build/
/ch4/payroll/dist/
/ch6/TaxTable/nbproject/private/
/ch6/TaxTable/build/
/ch8/largest/nbproject/private/
/ch8/largest/build/
/ch7/bubbleSort/nbproject/private/
/ch7/selectionSort/build/
/ch9/locationClassDemo/nbproject/private/
/ch10/PrimeFactors/nbproject/private/
/ch11/RemoveDuplicates/nbproject/private/
/ch12/CountFile/nbproject/private/
/ch12/CountFile/build/
/ch13/GeometricObject/nbproject/private/
/ch13/GeometricObject/build/
